*{margin:0; padding:0;}
a{text-decoration:none;}
body{
    font-family: '맑은 고딕';
    font-size: 16px;
    line-height: 26px;
    min-width: 1320px;
}

/* 배경색상 */
.brand1{
    background-color: rgb(212, 219, 208);
}

/* 이미지 크기 */
img{
    width:780px;
    display: block;
    margin: auto;
}

/* 버튼 */
.btn_1 {
	list-style: none;
	position: fixed;
	bottom: 50px;
	right: 50px;
	text-align: center;
	z-index: 99;
}

.btn_1 li {
	margin: 10px;
}

.btn_1 li a {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	background: #456a56;
	color: #fff;
}
